/* HomePage.css */

.HomePage {
  display: flex;
  flex-direction: column;
}

.centered-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust spacing as needed */
}

.box {
  width: 200px;
  height: 150px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-bar {
  display: flex; /* Change to flex to align items */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space between items */
  background-color: #ccc; /* Gray color */
  padding: 10px 20px;
}

.sign-in-wrapper {
  display: flex;
  justify-content: flex-end; /* Align sign-in button to the right */
}

.sign-in {
  padding: 10px 20px;
}

.sign-in button {
  background-color: #d57979;  ; /* Red color */
  color: #ffffff; /* White color for the font */
  font-size: 16px; /* Adjust font size */
  padding: 12px 48px; /* Adjust padding to make it slightly bigger */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer */
  border-radius: 20px; /* Add border radius for rounded corners */
}

.sign-in button:hover {
  text-decoration: underline; /* Add underline on hover */
}

.content {
  flex: 1; /* Allow content to take remaining space */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.navbar-wrapper {
  background-color: #ccc; /* Gray color */
  padding: 10px 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px; /* Adjust as needed */
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
}

.navbar-item a {
  color: #000; /* Adjust text color as needed */
  text-decoration: none;
  font-size: 16px;
}

.navbar-item a:hover {
  color: #777; /* Adjust hover color as needed */
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #d57979;
}

.bottom-box {
  width: 150px;
  height: 50px;
  margin: 10px;
  left: 333px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-rated {
  position: absolute;
  top: 0;
}

.latest-builds {
  position: absolute;
  bottom: 0;
}

.box:hover {
  text-decoration: underline; /* Add underline on hover */
}

.bottom-box:hover {
  text-decoration: underline; /* Add underline on hover */
}

.empty-box {
  width: 85px;
  height: 150px;
  margin: 20px;
  background-color: #ccc;
}

/* styles.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000; /* Change color on hover */
}
